@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}


.group-block{
    position: absolute;
    justify-content: center;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 30%;
    /*border: 1px solid white;*/
}
.ico,.logo{
    border: 1px solid white;
    width: 44px;
    height: 52px;
}

.form-group{
    display: flex;
    position: absolute;
    top: 40%;
    width: 490px;
    height: 54px;
}

input{
    background-color: #00000000;
    border: 1px solid white;
    color: #fff;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 14px;
    height: 54px;
    outline:none;
}

.main{
    display: flex;
    justify-content: center;
    position: absolute;
    height: 80%;
    width: 80%;
    top: 10%;
}

.posters, .info{
    /*border: 1px solid white;*/
}

.posters{
    display: flex;
    flex-wrap: wrap;
    margin: 0 25px 0 0;
}

.posters img{
    width: 271px;
    height: 366px;
}

.info{
    color: #fff;
}

#name{
    font-size: 36px;
    text-transform: uppercase;
    max-width: 80%;
}
.group-info{
    display: block;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
}

.group-info p{
    margin: 10px 0;
}

#status_a{
    color: #FF8585;
}

.showBtn,.showBtn:hover, .backBtn,.backBtn:hover{
    padding: 15px 30px;
    margin: 0 22px 0 0;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.showBtn{
    background: linear-gradient(93.24deg, #ED7926 0%, #B34B00 59.31%, rgba(255, 202, 14, 0.69) 100%);
    border-radius: 30px;
}

.backBtn{
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    width: 126.81px;
    height: 56px;
    background: none;
}

.name-save{
    display: flex;
    width: 100%;
    height: fit-content;
}

.name-save .save{
    margin: 10px;
    width: 21px;
    height: 20.21px;
}

#description{
    font-size: 18px;
}